<link rel="stylesheet" href="/css/client/panel.css">
<div class="centered-acess">
    <div class="central-btn">
        <h1 class="title-pedidos">Pedidos</h1>
    </div>
    <div class="list-pedidos">
            <div class="items">
                <div class="itemPedido">
                    <p>Estado</p>
                    <p><i class="fas fa-rss"></i></p>
                </div>
                <hr>
                <div class="itemPedido">
                    <p>Produtos</p>
                    <p>Coca-Cola</p>
                </div>
                <hr>
                <div class="itemPedido">
                    <p>Quantidade</p>
                    <p>1x</p>
                </div>
                <hr>
                <div class="itemPedido">
                    <p>Valor</p>
                    <p>R$ 7.50</p>
                </div>
            </div>
    </div>
</div>