<link rel="stylesheet" href="/css/partials/footer.css">
<footer class="footer-full">
    <div class="info-footer">
        <h3>Localização</h3>
        <span class="loc-end">
            Rua professor Edison Galvão 362, Campos Ville, Araraquara-SP
        </span>
    </div>
    <span>
        © Todos os direitos reservados 
        <span class="name-campus">Campus Ville</span>
        and 
        <a class="name-campus" href="https://www.linkedin.com/in/leonardo-e-oliveira/">Leonardo</a>
        &
        <a class="name-campus" href="https://www.linkedin.com/in/victor-hugo-pizzaia-a9351b170/">Victor</a>
    </span>
</footer>