<link rel="stylesheet" href="/css/partials/header.css">
<header id="header-full" class="header-full">
    <img id="title-site" src="/img/panificadora-sem-fundo.png" alt="Logo da panificadora" class="logo-pani" />
    <nav class="nav-header">
        <ul class="list-nav">
            {{>listNav}}
        </ul>
    </nav>
    <nav class="nav-mobile">
        <a id="btn-header-one" onClick="controlHeader()" class="link-nav-mobile">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</header>
<div id="ext-header" class="mobile-extension dp-none">
    <nav class="nav-mobile">
        <a onClick="controlHeader()" class="link-nav-mobile">
            <i class="fas fa-times"></i>
        </a>
    </nav>   
    <nav class="nav-header-mobile">
        <ul class="list-nav-mobile">
            {{>listNav}}
        </ul>
    </nav>
</div>

<script src="/js/header.js"></script>