<link rel="stylesheet" href="/css/header.css">
<script src="https://kit.fontawesome.com/e26c2674eb.js" crossorigin="anonymous"></script>
<header id="header-full" class="header-full">
    <div class="title-pad">
        <h1 id="title-site">Campus Ville</h1>
        <span id="title-pan">panificadora</span>
    </div>
    <!-- <img src="/img/panificadora-sem-fundo.png" alt="Logo da panificadora" class="logo-pani" /> -->
    <nav class="nav-header">
        <ul class="list-nav">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/about">
                <li>Sobre</li>
            </a>
            <a href="/catalogo">
                <li>Produtos</li>
            </a>
            <a class="nav-btn" href="/cliente/cadastro">
                <li>Fazer encomenda</li>
            </a>
        </ul>
    </nav>
    <nav class="nav-mobile">
        <a id="btn-header-one" onClick="controlHeader()" class="link-nav-mobile">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</header>
<div id="ext-header" class="mobile-extension dp-none">
    <nav class="nav-mobile">
        <a onClick="controlHeader()" class="link-nav-mobile">
            <i class="fas fa-times"></i>
        </a>
    </nav>   
    <nav class="nav-header-mobile">
        <ul class="list-nav-mobile">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/about">
                <li>Sobre</li>
            </a>
            <a href="/catalogo">
                <li>Produtos</li>
            </a>
        </ul>
    </nav>
</div>

<script src="/js/header.js"></script>