<a href="/">
    <li>Home</li>
</a>
<a href="/about">
    <li>Sobre</li>
</a>
<a href="/encomenda">
    <li>Produtos</li>
</a>
<a href="/cliente/login">
    <li>Login</li>
</a>
<a class="nav-btn" href="/cliente/cadastro">
    <li>Fazer encomenda</li>
</a>