<link rel="stylesheet" href="/css/partials/localizacao.css">
<section class="localization">
    <div class="map-view">
        <div class="desc-map">
            <i class="fas fa-mug-hot img-coffe"></i>
            <div class="end-text">
                <h2 class="color-text">Venha nos fazer uma visita!</h2>
            </div>
        </div>
        <iframe 
            class="map"
            frameborder="0" 
            style="border:0" 
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAteAO14hKVm6mlX-ixPvhUoSp9Euqyck8
            &q=Rua+professor+Edison+Galvão+362+Araraquara+SP" 
            allowfullscreen
        />
        </iframe>
    </div>
</section>