<link rel="stylesheet" href="/css/dashboard/encomenda.css">
<div class="centered-acess">
    <h2 class="title-head">Central de encomendas</h2>
    <p class="descript-head">
        Escolha um dos filtros abaixo e verifique os pedidos
    </p>
    <div class="central-btn">
        <div class="btn-item">
            <i class="fas fa-rss icon-btn"></i>
            <h3 class="title-btn">1º Pendentes</h3>
        </div>
        <div class="btn-item">
            <i class="fas fa-shipping-fast icon-btn"></i>
            <h3 class="title-btn">2º Saiu para entrega</h3>
        </div>
        <div class="btn-item">
            <i class="fas fa-clipboard-check icon-btn"></i>
            <h3 class="title-btn">3º Entregue</h3>
        </div>
    </div>
    <div class="list-pedidos">
        <h3 class="title-pedidos">Lista de pedidos</h3>
        <table class="lista-pedidos">
            <tr class="head-line">
                <td>
                    Estado
                </td>
                <td>
                    Nome Cliente
                </td>
                <td>
                    Endereço
                </td>
                <td>
                    Status
                </td>
            </tr>
            <tr class="body-line">
                <td>
                    <i class="fas fa-rss"></i>
                </td>
                <td>
                    Victor Pizzaia
                </td>
                <td>
                    Rua josefino Almeida do campos
                </td>
                <td class="status-pag">
                    Pagamento Efetuado
                </td>
                <td class="link-acess-data">
                    <a href="/painel/encomenda/pizzaia" class="link-pedido">
                        <i class="fas fa-eye icon-see"></i>
                    </a>
                </td>
            </tr>
            <tr class="body-line">
                <td>
                    <i class="fas fa-rss"></i>
                </td>
                <td>
                    Victor Pizzaia
                </td>
                <td>
                    Rua josefino Almeida do campos
                </td>
                <td class="status-pag">
                    Pagamento Efetuado
                </td>
                <td class="link-acess-data">
                    <a href="/painel/encomenda/pizzaia" class="link-pedido">
                        <i class="fas fa-eye icon-see"></i>
                    </a>
                </td>
            </tr>
            <tr class="body-line">
                <td>
                    <i class="fas fa-rss"></i>
                </td>
                <td>
                    Victor Pizzaia
                </td>
                <td>
                    Rua josefino Almeida do campos
                </td>
                <td class="status-pag">
                    Pagamento Efetuado
                </td>
                <td class="link-acess-data">
                    <a href="/painel/encomenda/pizzaia" class="link-pedido">
                        <i class="fas fa-eye icon-see"></i>
                    </a>
                </td>
            </tr>
            <tr class="body-line">
                <td>
                    <i class="fas fa-rss"></i>
                </td>
                <td>
                    Victor Pizzaia
                </td>
                <td>
                    Rua josefino Almeida do campos
                </td>
                <td class="status-pag">
                    Pagamento Efetuado
                </td>
                <td class="link-acess-data">
                    <a href="/painel/encomenda/pizzaia" class="link-pedido">
                        <i class="fas fa-eye icon-see"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>