<link rel="stylesheet" href="/css/dashboard/encomenda.css">
<div class="centered-acess">
    <h2 class="title-head">Central de encomendas</h2>
    <p class="descript-head">
        Escolha um dos filtros abaixo e verifique os pedidos
    </p>
    <div class="central-btn">
        <div class="btn-item">
            <i class="fas fa-rss icon-btn"></i>
            <h3 class="title-btn">1ยบ Pendentes</h3>
        </div>
        <div class="btn-item">
            <i class="fas fa-shipping-fast icon-btn"></i>
            <h3 class="title-btn">2ยบ Saiu para entrega</h3>
        </div>
        <div class="btn-item">
            <i class="fas fa-clipboard-check icon-btn"></i>
            <h3 class="title-btn">3ยบ Entregue</h3>
        </div>
    </div>
    <div class="list-pedidos">
        <h3 class="title-pedidos">Lista de pedidos</h3>
        <table class="lista-pedidos">
            <tr class="head-line">
                <td>
                    Estado
                </td>
                <td>
                    Qnt.Item
                </td>
                <td>
                    Estado Pagamento
                </td>
            </tr>
            {{#each orders}}
                <tr class="body-line">
                    <td>
                        {{state}}
                    </td>
                    <td>
                        {{list.length}}
                    </td>
                    <td class="status-pag">
                        {{statePayment}}
                    </td>
                    <td class="link-acess-data">
                        <a href="/painel/encomenda/{{_id}}" class="link-pedido">
                            <i class="fas fa-eye icon-see"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>