<link rel="stylesheet" href="/css/dashboard/visualizarEncomenda.css">

<h2 class="about-encomenda">
    <a href="/painel/encomendas" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
    Pedido pendente
</h2>
<div class="sobre-encomenda">
    <div class="total-encomenda">
        <div class="data-client">
            <h3>Dados do cliente</h3>
            <div class="box-encomenda-ld ld">
                <div class="product-item-ld"></div>
            </div>
            <div class="box-encomenda-real real">
                <h4 class="name-client">Carlos Alberto de Nobrega</h4>
                <span>
                    <span class="wei-nu">
                        Email
                    </span>
                    : carlos@gmail.com
                </span>
                <span>
                    <span class="wei-nu">
                        Cel.
                    </span>
                    : (16) 99379-8356
                </span>
            </div>
        </div>
        <div class="end-client">
            <h3>Endereço de entrega</h3>
            <div class="box-encomenda-ld ld">
                <div class="product-item-ld"></div>
            </div>
            <div class="box-encomenda-real real">
                <h4 class="name-client">Logradouro</h4>
                <div class="localization">
                    <span>
                        Rua Coronel Pinto Ferraz, 45
                    </span>
                    <span>
                        Ribeirão Bonito - SP
                    </span>
                    <span>
                        CEP: 13580-000
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="total-list">
        <h3 class="title-list">Lista de produtos</h3>
        <div class="list-products-ld ld">
            <div class="product-item-ld"></div>
            <div class="product-item-ld"></div>
        </div>
        <div class="list-products-real real">
            <div class="list-item">
                <img src="/img/donut.jpg" class="img-product">
                <h4 class="title-prod">Nome do Produto</h4>
                <span>Quantidade: 3</span>
            </div>
            <div class="list-item">
                <img src="/img/donut.jpg" class="img-product">
                <h4 class="title-prod">Nome do Produto</h4>
                <span>Quantidade: 3</span>
            </div>
            <div class="list-item">
                <img src="/img/donut.jpg" class="img-product">
                <h4 class="title-prod">Nome do Produto</h4>
                <span>Quantidade: 3</span>
            </div>
        </div>
    </div>
</div>
<div class="central-control">
    <h3 class="control-ped">Controle do pedido: </h3>
    <a href="/" class="btn-control fin-ped">
        Finalizar pedido
    </a>
</div>

<script src="/js/dashboard/encomenda.js"></script>