<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/e26c2674eb.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Panificadora Campus Ville</title>
</head>
<body>
    <div class="content-full-margin">
        {{{body}}}
    </div>
</body>
</html>