<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <script src="https://kit.fontawesome.com/e26c2674eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dashboard/index.css">
    <title>Campus Ville - Admin</title>
</head>
<body>
    {{>dashboard/header}}
    {{{body}}}
</body>
<script src="/js/dashboard/header-user.js"></script>
</html>