<aside class="aside-menu-dash">
    <div class="top-aside">
        <h1 class="color-font title-aside">Seja bem vindo, Panificadora Campus Ville
        </h1>
    </div>
    <div class="bottom-aside">
        <nav class="bar-aside-nav">
            <a class="btn-nav-aside" href="/painel/clientes">Visualizar clientes</a>
            <a class="btn-nav-aside" href="/painel/encomendas">Pedidos</a>
            <a class="btn-nav-aside" href="/painel/produtos">Produtos</a>
        </nav>
    </div>
</aside>