<div class="header-user-full">
    <header id="header-user" class="header-user">
        <div class="nav-title">
            <h1 class="title-dash">Painel administrativo</h1>
        </div>
        <div id="user-config" class="user-config">
            <span class="user-title"><i class="fas fa-user"></i> Edson</span>
        </div>
    </header>
    <div class="btn-control-header">
        <i id="btn-control-user" class="fas fa-arrow-up"></i>
    </div>
</div>