<div class="products">
    {{#each products}}
        <div class="product-item">
            <div class="pic-product-box">
                <img  class="pic-product" src="{{imgUrl}}" alt="{{name}}" />
            </div>
            <div class="text-context">
                <span class="name-product">
                    {{name}}
                </span>
                <span>
                    R$ {{price}}
                </span>
            </div>
        </div>
    {{/each}}
</div>