<div class="products">
    <div class="product-item">
        <div class="pic-product"></div>
        <span class="name-product">Produto 1</span>
    </div>
    <div class="product-item">
        <div class="pic-product"></div>
        <span class="name-product">Produto 2</span>
    </div>
    <div class="product-item">
        <div class="pic-product"></div>
        <span class="name-product">Produto 3</span>
    </div>
    <div class="product-item">
        <div class="pic-product"></div>
        <span class="name-product">Produto 4</span>
    </div>
    <div class="product-item">
        <div class="pic-product"></div>
        <span class="name-product">Produto 5</span>
    </div>
</div>