<link rel="stylesheet" href="/css/home/404.css">
<div class="back">
    <div class="center">
        <div>
            <h1>
                <a class="numero">4</a>
                <img src="/img/Donut-404.png" alt="">
                <a class="numero">4</a>
            </h1>
        </div>
        <h2>Ooppss !</h2>
        <h3>The Page Was Not Found</h3>
        <button><a href="/">Back to home </a></button>
    </div>
</div>