<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/home/inicial.css">
<div id="main-content" class="main-full"></div>
<div class="main-content">
    <div class="main-contented">
        <h2 class="title-main"><span id="title-main"></span><span id="cursor">|</span></h2>
        <p class="desc-main">
            O prazer de servir nossos clientes com a melhor qualidade.
        </p>
    </div>
</div>
<div class="attr-padaria">
    <div class="line-title">
        <div class="bar-title"></div>
        <h2 class="title-noss">Nossos serviços</h2>
        <div class="bar-title"></div>
    </div>
    <div class="desc-noss">
        <div id="service-candy" class="box-service">
            <i class="fas fa-candy-cane icon-service"></i>
            <span class="title-service">Sobremesas</span>
            <div id="candy-service" class="desc-service height-zero">
                <span class="text-service">
                    Nossos deliciosos açucarados, vem com um especial toque de amor e carinho para adoçar seu dia.
                </span>
            </div>
        </div>
        <div id="service-bread" class="box-service">
            <i class="fas fa-bread-slice icon-service"></i>
            <span class="title-service">Paẽs e massas</span>
            <div id="bread-service" class="desc-service height-zero">
                <span class="text-service">
                    Uma linha completa para você saborear quentinho ao longo do seu dia com o melhor da culinária
                    francesa
                </span>
            </div>
        </div>
        <div id="service-drink" class="box-service">
            <i class="fas fa-cocktail icon-service"></i>
            <span class="title-service">Drinks</span>
            <div id="drink-service" class="desc-service height-zero">
                <span class="text-service">
                    Bebidas refrescantes para dar aquele gostinho ao verão que você sempre quis.
                </span>
            </div>
        </div>
        <div id="service-coffe" class="box-service">
            <i class="fas fa-coffee icon-service"></i>
            <span class="title-service">Coffe</span>
            <div id="coffe-service" class="desc-service height-zero">
                <span class="text-service">
                    Para amantes de um bom e inegável café, não poderia faltar nossas bebidas mais gostosas e
                    aconchegantes.
                </span>
            </div>
        </div>
    </div>
</div>
{{>footer}}

<script src="/js/home/service.js"></script>