<link rel="stylesheet" href="/css/home/sobre.css">
<div class="centro">
    <div class="centralizada">
        <div class="left">
            <img src="/img/donutAbout.jpg" class="arrumaimagem">
        </div>
        <div class="right">
            <h1>Campus Ville</h1>
            <p>
                Nossa panificadora é uma novidade em todo o mercado brasileiro, trazemos o melhor
                das grandes metrópoles e nos inspiramos em estilos inovadores.
            </p>
            <p>
                É uma honra servir nossos clientes com os melhores produtos e ingredientes totalmente 
                selecionados. A nossa missão é trazer inovação, aproveitando o melhor da tradição brasileira
                e apresentando uma nova visão de confeitaria.
            </p>
            <p>
                Nossa preocupação é proporcionar uma experiência única para nossos clientes. Para produzir, 
                atendender e encantar, desde, o café da manhã até o happy hour <br>conte conosco.
            </p>
        </div>
    </div>
</div>
<div>
        {{>localizacao}}
</div>
<div>
    {{>footer}}
</div>