.title-sec {
    background-color: rgb(74, 164, 192);
    padding: 20px;
    top: 0;
    padding-top: 120px;
    position: absolute;
    width: 100%;
}

body {
    background-color: rgb(219, 180, 154);
}

.title-sec-text {
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.title-sec-text i {
    color: #fff;
}

.aside-category {
    padding: 30px 0px;
    background-color: rgb(61, 49, 37);
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
}

.main-total {
    padding-top: 200px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "aside main";
    width: 100%;
    padding-bottom: 50px;
}

.category {
    width: 80%;
    background-color: rgb(74, 164, 192);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: background 0.4s;
    cursor: pointer;
    margin-bottom: 20px;
}

.row-top-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-category,.arrow-category {
    color: #fff;
}

.category:hover {
    background-color: rgb(76, 178, 209);
}

.category-title-aside {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 100;
}

.category-items-bottom {
    width: 100%;
    height: 250px;
    overflow: hidden;
    transition: height 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-category {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.categoryClosed {
    height: 0px;
}

.link-item-cat {
    background-color: rgb(236, 236, 236);
    transition: 0.2s;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.link-item-cat:hover {
    background-color: rgb(167, 194, 202);
}

.sec-main {
    grid-area: main;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.main-product {
    background-color: rgb(190, 149, 125);
    width: 95%;
    border-radius: 20px;
    padding: 30px;
}

.name-category-find {
    margin-bottom: 20px;
}

.products {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    justify-content: space-between;
    max-width: 250px;
}

.text-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pic-product {
    margin-bottom: 10px;
    width: 220px;
    border-radius: 20px;
}

.pic-product-box {
    display: flex;
    flex: 1;
    align-items: center;
}

.name-product {
    text-align: center;
    margin: 0 20%;
}

@media(max-width: 973px){
    .main-total{
        padding-top: 250px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
    }
    .aside-category {
        width: 100%;
        margin-bottom: 16px;
    }
    .title-sec{
        padding: 40px;
        top: 0;
        padding-top: 150px;
        position: absolute;
        width: 100%;
    }
}