body{
    background-color: rgb(230, 232, 236);
}

.centered-acess {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slug-element 0.3s;
    padding-bottom: 30px;
}

.state-order {
    color: rgb(76, 150, 42);
}

.order-not-found {
    margin: 30px;
    margin-top: 100px;
}

.total-price {
    color: rgb(70, 70, 70);
}

.state-payment {
    color: rgb(136, 136, 136);
}

.central-btn {
    width: 80%;
    border-radius: 40px;
    text-align: center;
    margin-top: 40px;
    padding-top: 32px;
    transition: 0.5s;
}

.central-btn:hover{
    width: 75%;
}

.title-pedidos {
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 1.5em;
}

.produtos_pedido {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.produto-item {
    display: flex;
    flex-direction: row;
}

.list-pedidos {
    margin-top: 50px;
    padding: 20px;
    border-radius: 30px;
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-pedidos:hover{
    border: 3px solid #AEB9D6;
}

.pedidos{
    border-radius: 20px;
    border-spacing: 10px;
    border: 3px solid black;
    width: 60%;
}

.items{
    width: 100%;
    font-weight: 50;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}
.itemPedido{
    background-color: rgba(225, 236, 255, 0.479);
    border-radius: 5px;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
}

.itemPedidoLine {
    padding: 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lista-pedidos td{
    font-weight: 50;
    font-size: 1.5em;
}
@media(max-width: 830px){
    .itemPedido{
        padding: 16px 0px;
    }
}