.footer-full {
    background-color: rgb(194, 160, 115);
    padding: 40px 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name-campus {
    color: rgb(20, 74, 78);
    cursor: pointer;
}

.info-footer {
    display: flex;
    flex-direction: column;
}

.loc-end {
    margin: 10px 30px 30px 30px;
}

.logo-footer {
    width: 200px;
}

.copy-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}