.footer-full {
    background-color: #38261f;
    padding: 40px 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name-campus {
    color: #FFDDB2;
    cursor: pointer;
}

.info-footer {
    display: flex;
    flex-direction: column;
}

.loc-end {
    color: #FFDDB2;
    margin: 10px 30px 30px 30px;
}

.logo-footer {
    width: 100px;
}

.info-title {
    color: rgb(247, 227, 201);
}

.copy-right {
    color: #FFDDB2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.method-payment {
    margin-top: 30px;
    width: 400px;
}

@media(max-width: 700px){
    .copy-right{
        display: none;
    }
}