.localization {
    padding: 50px;
    width: 100%;
    background-color: #614242;
}

.map {
    width: 60%;
    height: 450px;
    border-radius: 10px;
}

.map-view {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.desc-map {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-coffe {
    font-size: 17em;
    /*color: #46301C;*/
    color: #ffffff;
}
@media(max-width: 905px){
    .map{
        width: 100%;
    }
    .desc-map{
        display: none;
    }
}
.end-text {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.color-text {
    color: #ffffff;
}