<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/client/encomenda.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Campus Ville - Encomenda</title>
</head>
<body>
    {{>header}}
    <header class="title-sec">
        <h2 class="title-sec-text">
            <i class="fas fa-coffee"></i>
            Nossos produtos
        </h2>
    </header>
    <main class="main-total">
        <aside class="aside-category">
            <h3 class="category-title-aside">Categorias</h3>
            <div id="confeitaria" class="category category-items">
                <div class="row-top-head">
                    <span class="name-category">Confeitaria</span>
                    <i class="fas fa-angle-down arrow-category"></i>
                </div>
                <div id="ext-confeitaria" class="categoryClosed category-items-bottom">
                    <div class="items-category">
                        <a class="link-item-cat" href="/">Bombas</a>
                        <a class="link-item-cat" href="/">Diversos</a>
                        <a class="link-item-cat" href="/">Donuts</a>
                    </div>
                </div>
            </div>

            <div id="padaria" class="category category-items">
                <div class="row-top-head">
                    <span class="name-category">Padaria</span>
                    <i class="fas fa-angle-down arrow-category"></i>
                </div>
                <div id="ext-padaria" class="categoryClosed category-items-bottom">
                    <div class="items-category">
                        <a class="link-item-cat" href="/">Pão de forma</a>
                        <a class="link-item-cat" href="/">Carolina</a>
                        <a class="link-item-cat" href="/">Baguete</a>
                    </div>
                </div>
            </div>
        </aside>
        <section class="sec-main">
            <h2 class="name-category-find">{{nameCategory}}</h2>
            <div class="main-product">
                {{{body}}}
            </div>
        </section>
    </main>
    {{>footer}}

    <script src="/js/client/encomenda.js"></script>
</body>
</html>